APP_ENV="development"
APP_PORT=8080

# Base Url Docker
USER_SERVICE_URL=http://user-service:8081
PRODUCT_SERVICE_URL=http://product-service:8082
MERCHANT_SERVICE_URL=http://merchant-service:8083
NOTIFICATION_SERVICE_URL=http://notification-service:8084
TRANSACTION_SERVICE_URL=http://transaction-service:8085
WAREHOUSE_SERVICE_URL=http://warehouse-service:8086


JWT_SECRET_KEY= "secret"
JWT_ISSUER= "jwt-warehouse"
JWT_DURATION= "24h"

REDIS_HOST=warehouse_redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_POOL_SIZE=10